<div class="container" id="newedit">
  <%= simple_form_for [@radioset] do |f| %>
    <%= f.input :date %>
    <%= f.input :audio_link %>
    <%= f.association :resident %>
    <div class="bottom-buttons" style="display:flex;justify-content:space-around">
      <%= f.submit class: "btn btn-primary"%>
      <%= link_to "return to dashboard", "/dashboard", class:"btn btn-secondary"%>
    </div>
  <% end %>
