<div class = "container">
  <h1>Welcome to the admin dashboard</h1>

  <%= link_to 'Create new post', new_post_path, class:"btn btn-primary"%>
  <%= link_to 'Create new resident', new_resident_path, class:"btn btn-primary"%>
  <%= link_to 'Create new set', new_radioset_path, class:"btn btn-primary"%>

  <%# TODO: Each collapsable can be filtered by search - each collapsable item has a small edit and delete button %>

  <%# TODO: Instead of no. of sets have previous sets and future sets %>

  <div class = "residents-collapsable">
    <% @residents.each do |resident| %>
      <%= link_to resident.name, resident_path(resident) %>
      <p>Number of sets: <%= resident.radiosets.length %></p>
    <% end %>
  </div>
</div>



<div class = "radiosets-callapsable">
  <%= @radiosets %>
</div>

<div class = "posts-collapsable">
  <%= @posts %>
</div>
