<div class = "container">
  <h1>Welcome to the admin dashboard</h1>

  <%= link_to 'Create new post', new_post_path, class:"btn btn-primary"%>
  <%= link_to 'Create new resident', new_resident_path, class:"btn btn-primary"%>
  <%= link_to 'Create new set', new_radioset_path, class:"btn btn-primary"%>

  <%# TODO: Each collapsable can be filtered by search - each collapsable item has a small edit and delete button %>

  <%# TODO: Instead of no. of sets have past sets and upcoming sets - DONE%>

  <%# TODO: Past-sets and upcoming-sets are links in of themselves - they produce a popup which shows a list of links to that resident's particular past or upcoming sets - these then also have edit and delete buttons?! %>

  <%# TODO: Actually make these three options into three collapsables %>

  <div class = "residents-collapsable">
    <% @residents.each do |resident| %>
      <%= link_to resident.name, resident_path(resident) %>
      <p>Past sets:</p>
        <ul>
          <% resident.radiosets.where('date > ?', DateTime.now).each do |set| %>
            <li> <%=  link_to set.title, edit_radioset_path(set) %> </li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>

<div class = "posts-collapsable">
  <% @posts.each do |post| %>
    <%= link_to post.title, post_path(post) %>
  <% end %>
</div>

<div class = "radiosets-callapsable">
  <%= @radiosets %>
</div>
