<div class = "container">
  <h1>Welcome to the admin dashboard</h1>

  <%= link_to 'Create new post', new_post_path, class:"btn btn-primary"%>
  <%= link_to 'Create new resident', new_resident_path, class:"btn btn-primary"%>
  <%= link_to 'Create new set', new_radioset_path, class:"btn btn-primary"%>


  <%# TODO: Actually make these three options into three collapsables DONE %>

  <%# TODO: The residents THEMSELVES are a collapsable DONE %>

  <%# TODO: Edit and delete buttons next to each resident and set %>

  <%# Possible TODO: Save a blogpost to edit later? only appears when it is publised? %>

  <div class = "residents">
    <div class="accordion" id="all-residents-collapsable">
      <div class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          See all residents
        </button>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#all-residents-collapsable">
          <div class="accordion-body">
            <% @residents.each do |resident| %>


              <div class="flex-for-buttons">

                <div class="resident-buttons">
                    <%= link_to resident.name, resident_path(resident) %>
                    <div class="edit-delete-buttons">
                      <%= link_to "Edit", edit_resident_path(resident), class:"btn btn-secondary btn-sm"%>
                      <%= link_to "Delete", resident_path(resident), data: {turbo_method: :delete, turbo_confirm: "sure?"}, class:"btn btn-danger btn-sm"%>
                    </div>
                </div>
                
                      <div class="accordion" id="resident-sets-collapsable-<%=resident.id%>num">
                        <h2 class="accordion-header" id="heading<%=resident.id%>num">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=resident.id%>num" aria-expanded="false" aria-controls="collapse<%=resident.id%>num">
                            Past sets
                          </button>
                        </h2>
                        <div id="collapse<%=resident.id%>num" class="accordion-collape collapse" aria-labelledby="heading<%=resident.id%>num" data-bs-parent="#resident-sets-collapsable-<%=resident.id%>num">
                          <div class="accordion-body">
                            <ul>
                              <% resident.radiosets.each do |set| %>
                                <li> <%= link_to set.title, edit_radioset_path(set) %> </li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      </div>

              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class = "posts-collapsable">
    <% @posts.each do |post| %>
      <%= link_to post.title, post_path(post) %>
    <% end %>
  </div>

</div>
