<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<div class = "page-wrapper" data-controller="edit-homepage">

  <%# render "shared/navbar" %>
  <div class="topnavbar">
    <div class="nav-left">
      <div class="bar">
        <div class = "media">
            <%= render "shared/media_player" %>
          <div class="inside"><h1>Streaming Live: DJ KEV N PERRY || <%= Time.now.strftime("%I:%M") %></h1></div>
          <img id ="vol" src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669907255/icons8-voice-24_zpfzfp.png" alt="">
          <input type="range" id="points" name="points" min="0" max="10">
          </div>
      </div>
    </div>
          <img id="logo" src="https://res.cloudinary.com/depkh8amy/image/upload/v1670254580/moss-hori_csasqc.png" alt="">
      <div class="nav-right">
      <div class="admin-rocker">
      <% if current_user && current_user.admin? %>
        <%= link_to dashboard_path do %>
          <div class="mid">
            <label class="rocker">
              <input type="checkbox" unchecked>
              <span class="switch-left">Admin</span>
              <span class="switch-right">Home</span>
            </label>
          </div>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
        <% end %>
          <% elsif user_signed_in %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
      <% end %>
    </div>
      </div>
  </div>


  <div class="bottom-page">

    <div class="nav">

      <div id="navtop" class="topnav">
        <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670238116/Tab_17_pxmulv.png" alt="" data-action="click->edit-homepage#radiosets"></a></div>

      <div id="navmiddle">
        <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670238116/Tab_18_mlowl9.png" alt="" data-action="click->edit-homepage#residentlist"  ></a></div>

      <div id="navbottom">
        <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670238115/Tab_19_k3hq7z.png" alt="" data-action="click->edit-homepage#blog"></a></div>

    </div>

    <div id="chat" data-edit-homepage-target="chat">
        <div class="chatbox">

        <%= render "shared/chat" %>

        </div>
        <span href="#" class="btn-r" data-action="click->edit-homepage#show"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670237456/Chat_yfmqsb.png" alt=""></span>
        <span href="#" data-action="click->edit-homepage#show"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669906417/Component_11_snnzvr.png" alt=""></span>
    </div>

    <%# <div id="about">
        <span href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669908412/Component_10_1_ql2ws7.png" alt=""></span>
    </div> %>

  <div id="central_container">
    <div data-edit-homepage-target="central_container">
    </div>
  </div>

</div>
