<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<div class = "page-wrapper" data-controller="edit-homepage">

  <%# render "shared/navbar" %>
  <div class="topnavbar">
    <div class="nav-left">
      <div class="bar">
        <div class = "media" data-controller="media">
            <%= render "shared/media_player" %>
          <div class="centeranimate">
            <h1 class=" animate__animated animate__flash animate__infinite	infinite" id="live"> LIVE:</h1>
          </div>
          <div class="inside"><h1 id="slidevol"> DJ KEV N PERRY || <%= Time.now.strftime("%I:%M") %></h1></div>
            <div class="volume-control">
              <img id ="vol" src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670319366/bx_bx-volume_bj7ddr.svg" alt="">
              <div id="justadiv">
                <input type="range" data-action="change->media#volume" data-media-target="slider" id="points" name="points" min="0" max="10">
              </div>
            </div>
          </div>
      </div>
    </div>

          <img id="logo" src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670317249/moss_arhhka.png" alt="">

      <div class="nav-right">
        <div class="admin-rocker">
          <% if current_user && current_user.admin? %>
            <%= link_to dashboard_path do %>
              <div class="mid">
                <label class="rocker">
                  <input type="checkbox" unchecked>
                  <span class="switch-left">Admin</span>
                  <span class="switch-right">Home</span>
                </label>
              </div>
            <% end %>
          <% end %>
        </div>
        <div id="logoutdiv">
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
          <% end %>
        </div>
      </div>
  </div>


  <div class="bottom-page">

    <div class="nav">

      <div id="navtop" class="topnav">
        <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670319078/Tab_jcttrj.svg" alt="" data-action="click->edit-homepage#radiosets"></a></div>

      <div id="navmiddle">
        <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670319222/Tab_1_g6yeku.svg" alt="" data-action="click->edit-homepage#residentlist"  ></a></div>

      <div id="navbottom">
        <a href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670319226/Tab_2_ldzpzn.svg" alt="" data-action="click->edit-homepage#blog"></a></div>

    </div>

    <div id="chat" data-edit-homepage-target="chat" data-controller="chatroom-subscription" >
        <div class="message-submit">
        <%= simple_form_for [@chatroom, @message],
            html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
          %>
          <%= f.input :content,
            label: false,
            placeholder: "Message ##{@chatroom.name}",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "Send", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>

        <div class="chatbox">
          <h1 style="color: white;"><%= @chatroom.name %></h1>
          <%= render "shared/chat" %>

        </div>
        <span href="#" class="btn-r" data-action="click->edit-homepage#show"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670237456/Chat_yfmqsb.png" alt=""></span>
        <span href="#" data-action="click->edit-homepage#show"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670333160/Component_15_2_sxic5e.svg" alt=""></span>
    </div>

    <%# <div id="about">
        <span href="#"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1669908412/Component_10_1_ql2ws7.png" alt=""></span>
    </div> %>



  <div id="central_container">
    <div data-edit-homepage-target="central_container">
    </div>
  </div>

</div>
