<%= render "devise/shared/modal" %>
<div class="login-full">
    <div class="login">
      <div id="login-flex"class="container col-md-4 mb-5 mt-5">
        <div class=login-head><h2>Log in</h2></div>
        <div id="logo-flex"class="login-logo"><img src="https://res.cloudinary.com/dtvduhwrg/image/upload/v1670317249/moss_arhhka.png" alt=""></div>
      </div>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="container col-md-4 form-inputs mb-5 ">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div id="login-btn" class="container form-actions col-md-4">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script>
      var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {keyboard: false, backdrop: 'static'});
      myModal.show();
</script>
