<div class = "container" id="newedit">
  <%= simple_form_for [@resident] do |f| %>
    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.input :links %>
    <div class="bottom-buttons" style="display:flex;justify-content:space-around">
      <%= f.submit class: "btn btn-primary", id: "edit-button" %>
      <%= link_to "Delete", resident_path(@resident), data: {turbo_method: :delete, turbo_confirm: "sure?"}, class:"btn btn-danger", id: "delete-button" %>
      <%= link_to "return to dashboard", "/dashboard", class:"btn btn-secondary", id: "dashboard-button" %>
    </div>
  <% end %>
</div>
