<div class = "container">
  <%= simple_form_for [@resident] do |f| %>
    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.input :links %>
    <div class="bottom-buttons" style="display:flex;justify-content:space-around">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Delete", resident_path(@resident), data: {turbo_method: :delete, turbo_confirm: "sure?"}, class:"btn btn-danger"%>
      <%= link_to "return to dashboard", "/dashboard", class:"btn btn-secondary"%>
    </div>
  <% end %>
</div>
