<img src="<%=@resident.photo%>" alt="Profile picture">
<h2><%= @resident.name %></h2>
<%= @resident.bio %>


<% if @resident.radiosets.length >= 1 %>
  <h3><%=@resident.name%>'s Sets: </h3>
  <% @radiosets.each do |radioset| %>
    <div>
      <iframe width="560" height="315" src="<%=radioset.audio_link%>" title="Video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  <% end %>
<% else %>
<h3><%=@resident.name%> currently has no sets uploaded</h3>
<% end %>
<button data-action="click->edit-homepage#residentlist">See residents</button>
<button data-action="click->edit-homepage#radiosets">See radiosets</button>
