<div class="container" id="newedit">
  <%= simple_form_for [@post] do |f| %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.rich_text_area :rich_body %>
    <%= f.input :date_published, as: :date, html5: true %>
    <div class="bottom-buttons" style="display:flex;justify-content:space-around">
      <%= f.submit class: "btn btn-primary"%>
      <%= link_to "return to dashboard", "/dashboard", class:"btn btn-secondary"%>
    </div>
    <% end %>
</div>
