<div class="my-4 animate__animated animate__slideInUp" id="blog-view" data-edit-homepage-target="showpage">
  <div class="header-bar">
    <h3><%= @post.title %></h4>
    <h6>Words by: <%= @post.author %></h6>
  </div>
  <div class="blog-content">
    <h6>Published: <%= @post.date_published.strftime("%a %b %e at %l:%M %p") %></h6>
    <%= @post.rich_body %>
    <div class="imagesforblog">
      <% @post.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
  </div>

    <div class="heart" data-edit-homepage-target="likeanimation">
      <i class="fa-solid fa-heart lower-icons"></i>
      <div data-edit-homepage-target="likes">
        <%= @post.postlikes.count%>
      </div>
      <%= (@post.postlikes.count) == 1 ? ' Like ' : ' Likes'%>
    </div>

  <div id= "lower-blog">

    <% if @post.postlikes.where(user_id: current_user.id).first.nil? %>
      <div class="lower-icons" data-edit-homepage-target="likebutton">
        <button class="lower-icons" data-action="click->edit-homepage#likepost" data-value="<%=@post.id%>">Like post</button>
      </div>
    <% end %>
    <div class="lower-icons">
      <button class="lower-icons" data-action="click->edit-homepage#blog">Back to blog</button>
    </div>
  </div>
</div>
