<div class="my-4" id="blog-view">
  <div class="header-bar">
    <h3><%= @post.title %></h4>
    <h6>Words by: <%= @post.author %></h6>
  </div>
  <div class="blog-content">
    <h6>Published: <%= @post.date_published.strftime("%a %b %e at %l:%M %p") %></h6>
    <%= @post.rich_body %>
  </div>

    <div class="heart">
      <i class="fa-solid fa-heart lower-icons"></i> <%= @post.postlikes.count %> <%= (@post.postlikes.count) == 1 ? ' Like ' : ' Likes'%>
    </div>
  <div id= "lower-blog">

    <div class="lower-icons">
      <button class="lower-icons" data-action="click->edit-homepage#likepost" data-value="<%=@post.id%>">Like post</button>
    </div>
    <div class="lower-icons">
      <button class="lower-icons" data-action="click->edit-homepage#blog">Back to blog</button>
    </div>

  </div>

</div>
