<div class="my-4" id="blog-view">
  <div class="header-bar">
    <h3><%= @post.title %></h4>
    <h6>Words by: <%= @post.author %></h6>
  </div>
  <div class="blog-content">
    <h6>Published: <%= @post.date_published.strftime("%a %b %e at %l:%M %p") %></h6>
    <%= @post.rich_body %>
  </div>

  <div id= "lower-blog">

    <h6 class="lower-icons"> <i class="fa-solid fa-heart"></i> <%= @post.postlikes.count %> <%= (@post.postlikes.count) == 1 ? ' Like ' : ' Likes'%></h6>
    <button class="lower-icons" data-action="click->edit-homepage#likepost" data-value="<%=@post.id%>">Like post</button>
    <button class="lower-icons" data-action="click->edit-homepage#blog">Back to blog</button>

  </div>
</div>
